.benefits {
  background: #f8f9fc;
  padding-top: 114px;
  padding-bottom: 35px;
  margin-bottom: 114px;
}

.benefits__center {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
}

.benefits__top {
  display: flex;
  flex-wrap: wrap;
}

.benefits__bottom {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  width: 400px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-right: 240px;
  padding-top: 43px;
  padding-bottom: 80px;
  padding-left: 28px;
  padding-right: 50px;
}

.benefits__item:nth-of-type(2n) {
  margin-right: 0;
}

.benefits__item--square {
  padding-top: 43px;
  padding-bottom: 79px;
  padding-left: 27px;
  padding-right: 50px;
}

.benefits__item--parking {
  padding-top: 43px;
  padding-bottom: 79px;
  padding-left: 61px;
  padding-right: 10px;
}

.benefits__item--places {
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 50px;
}

.benefits__item--years {
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 61px;
  padding-right: 10px;
}

.benefits__item--square::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 340px;
  height: 2px;
  background: rgba(209, 10, 66, 0.2);
}

.benefits__item--parking::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 340px;
  height: 2px;
  background: rgba(209, 10, 66, 0.2);
}

.benefits h2 {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  font-weight: 700;
  color: #102654;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits__left {
  padding-top: 29px;
}

.benefits__left-num {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 71px;
  line-height: 106px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

.benefits__left-num--square {
  height: 52px;
  width: 108px;
}

.benefits__left-num--parking {
  width: 72px;
  height: 52px;
}

.benefits__left-num--places {
  width: 108px;
  height: 52px;
}

.benefits__left-num--years {
  width: 72px;
  height: 52px;
}

.benefits__left-svg {
  width: 100%;
  height: 100%;
  display: block;
}

.benefits__left p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits__right {
  padding-top: 23px;
  padding-left: 30px;
}

.benefits__right p:first-child {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  color: #102654;
  margin-top: 0;
  margin-bottom: 6px;
}

.benefits__right p:last-child {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #102654;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits__add {
  position: absolute;
  top: 123px;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  box-sizing: border-box;
  background: #1c3374;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 59px;
  padding-left: 30px;
  padding-right: 30px;
}

.benefits__add-title {
  margin-top: 0;
  margin-bottom: 32px;
}

.benefits__add-title span:first-child {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 74px;
  line-height: 111px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  padding-right: 4px;
  margin-top: 0;
  margin-bottom: -14px;
}

.benefits__add-title span:last-child {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 26px;
  line-height: 39px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits__add p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: $desktop-width) {
  .benefits {
    padding-top: 95px;
    padding-bottom: 50px;
    margin-bottom: 95px;
  }

  .benefits__center {
    max-width: 768px;
    display: flex;
    flex-direction: column;
  }

  .benefits__top {
    order: 1;
  }

  .benefits__bottom {
    order: 3;
  }

  .benefits__item {
    width: 50%;
    margin-right: 0;
    padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 40px;
  }

  .benefits__item--square {
    padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 40px;
  }

  .benefits__item--parking {
    padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 50px;
  }

  .benefits__item--places {
    padding-top: 25px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 30px;
  }

  .benefits__item--years {
    padding-top: 25px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 50px;
  }

  .benefits__item--square::before {
    display: none;
  }

  .benefits__item--parking::before {
    display: none;
  }

  .benefits__left {
    padding-top: 15px;
  }

  .benefits__left-num {
    font-size: 58px;
    line-height: 87px;
    margin-bottom: 4px;
  }

  .benefits__left-num--square {
    height: 52px;
    width: 88px;
  }

  .benefits__left-num--parking {
    width: 58px;
    height: 52px;
  }

  .benefits__left-num--places {
    width: 88px;
    height: 52px;
  }

  .benefits__left-num--years {
    width: 58px;
    height: 52px;
  }

  .benefits__left-svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .benefits__right {
    padding-top: 16px;
    padding-left: 30px;
  }

  .benefits h2 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 0;
  }

  .benefits__right p:first-child {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2px;
  }

  .benefits__add {
    position: static;
    width: 442px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 39px;
    padding-left: 130px;
    padding-right: 130px;
    order: 2;
  }

  .benefits__add-title {
    margin-bottom: 14px;
  }

  .benefits__add-title span:first-child {
    padding-right: 4px;
    margin-bottom: -18px;
  }

  .benefits__add-title span:last-child {
    font-size: 22px;
    line-height: 33px;
  }
}

@media (max-width: $tablet-width) {
  .benefits {
    padding-top: 66px;
    padding-bottom: 65px;
    margin-bottom: 66px;
  }

  .benefits__center {
    max-width: 320px;
  }

  .benefits__top {
    display: block;
    margin-bottom: 45px;
  }

  .benefits__bottom {
    display: block;
  }

  .benefits__item {
    width: auto;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    margin-right: 0;
  }

  .benefits__item--square {
    padding-top: 45px;
    padding-bottom: 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  .benefits__item--parking {
    padding-top: 34px;
    padding-bottom: 0;
    padding-left: 45px;
    padding-right: 45px;
  }

  .benefits__item--places {
    padding-top: 39px;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .benefits__item--years {
    padding-top: 34px;
    padding-bottom: 0;
    padding-left: 45px;
    padding-right: 45px;
  }

  .benefits__left {
    display: block;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 6px;
  }

  .benefits__left-num {
    font-size: 58px;
    line-height: 87px;
    margin: 0 auto;
    margin-bottom: 3px;
  }

  .benefits__left-num--square {
    height: 52px;
    width: 88px;
  }

  .benefits__left-num--parking {
    width: 58px;
    height: 52px;
  }

  .benefits__left-num--places {
    width: 88px;
    height: 52px;
  }

  .benefits__left-num--years {
    width: 58px;
    height: 52px;
  }

  .benefits__left-svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .benefits__right {
    display: block;
    padding-top: 0;
    padding-left: 0;
  }

  .benefits h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .benefits__right p:first-child {
    margin-bottom: 2px;
  }

  .benefits__add {
    width: auto;
    margin: 0;
    display: block;
    padding-top: 16px;
    padding-bottom: 44px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .benefits__add-title span:first-child {
    margin-bottom: -22px;
  }

  .benefits__add-title span:last-child {
    padding-right: 4px;
    margin-bottom: -5px;
  }
}
