.button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 4px solid #ffffff;
  padding-top: 19px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.button:hover,
.button:focus {
  opacity: 0.5;
}

.button--introduction {
  width: 234px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -2px;
}

.button--subscription {
  width: 208px;
  padding-top: 25px;
  padding-bottom: 27px;
  color: #102654;
  box-shadow: inset 0 0 0 2px rgba(16, 38, 84, 1);
  border: none;
}

.button--subscription:hover,
.button--subscription:focus {
  opacity: 1;
  outline: none;
  color: #ffffff;
  box-shadow: none;
  background: linear-gradient(-50deg, #003d85, #b80027 70%);
}

@media (max-width: $desktop-width) {
  .button--introduction {
    width: 187px;
  }
}

@media (max-width: $tablet-width) {
  .button--introduction {
    width: calc(100% + 4px);
    margin-right: 0;
    margin-left: -1px;
    padding-bottom: 22px;
  }
}
