.introduction__center {
  max-width: 1366px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.introduction__info {
  width: 498px;
  margin-top: 114px;
  margin-bottom: 1px;
  margin-left: 0;
  margin-right: 65px;
  padding-top: 0;
  padding-bottom: 1px;
  text-align: right;
  position: relative;
}

.introduction__text--small {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: uppercase;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 4px;
}

.introduction__text--big {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 109px;
  line-height: 109px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: uppercase;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 64px;
  text-shadow:
    -0 -2px 0 #ffffff,
    0 -2px 0 #ffffff,
    -0 2px 0 #ffffff,
    0 2px 0 #ffffff,
    -2px -0 0 #ffffff,
    2px -0 0 #ffffff,
    -2px 0 0 #ffffff,
    2px 0 0 #ffffff,
    -1px -2px 0 #ffffff,
    1px -2px 0 #ffffff,
    -1px 2px 0 #ffffff,
    1px 2px 0 #ffffff,
    -2px -1px 0 #ffffff,
    2px -1px 0 #ffffff,
    -2px 1px 0 #ffffff,
    2px 1px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
}

.introduction__list {
  position: absolute;
  bottom: 191px;
  left: 115px;
  width: 120px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-right: 30px;
}

.introduction__item {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.introduction__image {
  position: relative;
  width: 500px;
  height: 556px;
}

.introduction__image::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 500px;
  height: 556px;
  background-image: url("../img/superman-desktop@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .introduction__image::before {
    background-image: url("../img/superman-desktop@2x.jpg");
    background-size: cover;
  }
}

.introduction__socials {
  position: absolute;
  bottom: 44px;
  right: 103px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.introduction__socials-item {
  text-align: right;
  margin-bottom: 15px;
}

.introduction__socials-item:last-of-type {
  margin: 0;
}

.introduction__socials-link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.introduction__socials-link:hover,
.introduction__socials-link:focus {
  opacity: 0.5;
}

@media (max-width: $desktop-width) {
  .introduction__center {
    padding-left: 45px;
    padding-right: 45px;
    justify-content: center;
  }

  .introduction__info {
    width: 324px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 30px;
    padding-top: 53px;
    padding-bottom: 0;
    text-align: right;
    position: relative;
  }

  .introduction__text--small {
    font-size: 34px;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .introduction__text--big {
    font-size: 86px;
    line-height: 86px;
    text-decoration: uppercase;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 47px;
  }

  .introduction__list {
    width: 113px;
    bottom: 142px;
    left: 0;
  }

  .introduction__image {
    position: relative;
    width: 324px;
    height: 390px;
  }

  .introduction__image::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 324px;
    height: 390px;
    background-image: url("../img/superman-tablet@1x.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .introduction__image::before {
      background-image: url("../img/superman-tablet@2x.jpg");
    }
  }

  .introduction__socials {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .introduction__center {
    padding-left: 13px;
    padding-right: 15px;
    justify-content: center;
  }

  .introduction__info {
    width: 290px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 74px;
    padding-bottom: 0;
    text-align: right;
    position: relative;
  }

  .introduction__text--small {
    font-size: 28px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 4px;
  }

  .introduction__text--big {
    font-size: 78px;
    line-height: 78px;
    text-decoration: uppercase;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .introduction__list {
    width: 113px;
    bottom: 119px;
    left: 0;
  }

  .introduction__image {
    display: none;
  }
}
