.main-footer {
  background: #030a1a;
  padding-top: 41px;
  padding-bottom: 33px;
}

.main-footer__center {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.main-footer__logo {
  margin-right: 0;
}

.main-footer__nav-wrap {
  margin-left: 275px;
  display: flex;
  flex-wrap: wrap;
}

.main-footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3px;
}

.main-footer__nav-item {
  margin-right: 41px;
  margin-bottom: 10px;
}

.main-footer__nav-link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.main-footer__nav-link:hover,
.main-footer__nav-link:focus {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: $desktop-width) {
  .main-footer {
    padding-top: 44px;
    padding-bottom: 36px;
  }

  .main-footer__center {
    width: 678px;
    margin: 0 auto;
  }

  .main-footer__nav-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 63px;
  }

  .main-footer__nav-list {
    padding-top: 3px;
  }

  .main-footer__nav-item {
    margin-right: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .main-footer {
    padding-top: 47px;
    padding-bottom: 40px;
  }

  .main-footer__center {
    width: 290px;
    display: block;
    position: relative;
  }

  .main-footer__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .main-footer__nav-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .main-footer__nav-list {
    display: block;
    padding-top: 0;
    margin-left: 0;
  }

  .main-footer__nav-list--first {
    margin-top: 40px;
  }

  .main-footer__nav-list--second {
    margin-left: 76px;
  }

  .main-footer__nav-item {
    margin-right: 0;
    margin-bottom: 21px;
  }

  .main-footer__nav-link {
    font-size: 16px;
    line-height: 19px;
  }
}
